<!DOCTYPE html>

   {% include 'header.html' %} 

  <main>
    <h2>Bienvenu !</h2>
    <p>Vous pourrez trouver ici des photos ainsi que des vidéos provenant directement d'un nichoir de chouette chevêches !</p>
    <a href="./photo.html"><input type="button" id="photo" value="Photo"></a>
    <a href="./video.html"><input type="button" id="video" value="Vidéo"></a>
    <a href="./archives.html"><input type="button" id="archives" value="Archives"></a>
    <a href="./options.html"><input type="button" id="options" value="Options"></a>
  </main>

    
   {% include 'footer.html' %} 
